* text=auto

*.py text eol=lf
*.js text eol=lf
*.sh text eol=lf
*.md  text eol=lf
*.json text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
uv.locl text eol=lf
.env.example text eol=lf
.gitignore text eol=lf
.dockerignore text eol=lf
Dockerfile text eol=lf

# Ignore line ending conversions for binaries
*.png  binary
*.jpg  binary
*.ico  binary
*.zip  binary
*.exe  binary
